.social {
    display: flex;
    justify-content: center;

    @include breakpoint($tablet-bp) {
        display: none;
    } 

    &__item:not(:last-child) {
        margin: 0px 1.5rem 0px 0px;
    }
}