.subnav {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    width: 16.5rem;
    background-color: $blue;
    border-radius: 0 0 5px 5px;
    padding: .5rem 0;
    box-shadow: 0px 6px 8px 0px rgba($black, .2);

    @include breakpoint($tablet-bp) {
        position: static;
        width: 100%;
        background-color: transparent;
        box-shadow: none;
        padding-left: 1rem;
    }


    &__link {
        color: $white;
        font-size: 1.2rem;
        display: block;
        padding: .45rem 1.2rem;
        transition: all 0.3s ease 0s;

        &:hover {
            background-color: darken($blue, 5%);
            text-decoration: none;
        }

        @include breakpoint($tablet-bp) {
            padding-left: 0;
            padding-right: 0;
            font-size: 1.5rem;

            &:hover {
                background: none;
            }
        }
    }


}

